{% extends "navbar.html" %}
{% block content %}


<h1>Welcome, {{ current_user.name }}</h1>

<h4>Your Token: {{ current_user.token }}</h4>

<form action="" method="POST" enctype="multipart/form-data" id="updateForm">{{ form.hidden_tag() }}</form>
<form action="/delete_resume" method="POST" id="deleteResumeForm"></form>

<div class="row">
  <div class="col s12">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title">About You</span>
        <div class="input-field m12 s12">
          <i class="material-icons prefix">description</i>
          {{ form.bio.label(class="form-control-label") }}
          {% if form.bio.errors %}
          {{ form.bio(class="validate invalid materialize-textarea", form="updateForm") }}
          <div class="invalid-feedback">
            {% for error in form.bio.errors %}
            <span class="error-feedback">{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.bio(class="validate materialize-textarea", form="updateForm") }}
          {% endif %}
        </div>
        <div class="input-field m12 s12">
          <i class="material-icons prefix">assignment_ind</i>


          {{ form.skills.label(class="form-control-label") }}
          {% if form.skills.errors %}
          {{ form.skills(class="validate invalid", form="updateForm") }}
          <div class="invalid-feedback">
            {% for error in form.skills.errors %}
            <span class="error-feedback">{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.skills(class="validate", form="updateForm") }}
          {% endif %}
        </div>
        {% if not current_user.resume %}
        <div class="file-field input-field">
          <div class="btn red">
            <span>Upload your resume</span>
            {{ form.resume(class="validate", form="updateForm") }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        {% endif %}
        {% if current_user.resume %}
        <div class="dispf">
          <button type="submit" form="deleteResumeForm" class="btn red white-text">Delete Resume</button>
          <p class="ml-20"><a target="_blank" rel="noopener noreferrer"
              href="https://res.cloudinary.com/{{ cloud_name }}/image/upload/portfolio/resume/{{ current_user.resume }}.pdf">{{ current_user.resume }}.pdf</a>
          </p>
        </div>
        {% endif %}
      </div>

      <div class="card-action">
        {{ form.submit(class="btn waves-effect red", form="updateForm") }}
      </div>
    </div>
  </div>
</div>





<h1>Your Recent Jobs</h1>

{% if current_user.jobs|length == 0 %}
<p>Hmm, there doesn't seem to be any jobs. <a href="{{ url_for('jobs') }}">Do you want to create one?</a></p>

{% else %}

<div class="carousel">
  {% for job in current_user.jobs %}
  <a class="carousel-item" href="#one!">
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text">
            <span class="card-title">{{ job.company_name }}</span>
            <p>Role: {{ job.role }}</p>
            <p>Start Date: {{ job.start_date.strftime('%d %b, %Y') }}</p>
            {% if job.end_date != None %}
            <p>End Date: {{ job.end_date.strftime('%d %b, %Y') }}</p>
            {% else %}
            <p>End Date: Present</p>
            {% endif %}
            <p>Description: {{ job.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endif %}
<div class="center-align">
  <a class="waves-effect waves-light red btn-large" href="{{ url_for('jobs') }}"><i
      class="material-icons left">business</i>Manage Jobs</a>
</div>


<!--Achievements-->

<h1>Your Recents Achievements</h1>

{% if current_user.achievements|length == 0 %}
<p>Hmm, there doesn't seem to be any achievements. <a href="{{ url_for('achievements') }}">Do you want to create
    one?</a></p>


{% else %}

<div class="carousel">
  {% for achievement in current_user.achievements %}
  <a class="carousel-item" href="#one!">
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text">
            <span class="card-title">{{ achievement.name }}</span>
            <p>Year: {{ achievement.year }}</p>
            <p>{{ achievement.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endif %}
<div class="center-align">
  <a class="waves-effect waves-light red btn-large" href="{{ url_for('achievements') }}"><i
      class="material-icons left">assistant_photo</i>Manage Achievements</a>
</div>


<!--Projects-->


<h1>Your Recent Projects</h1>

{% if current_user.projects|length == 0 %}
<p>Hmm, there doesn't seem to be any projects. <a href="{{ url_for('projects') }}">Do you want to create one?</a></p>
{% else %}

<div class="carousel">
  {% for project in current_user.projects %}
  <a class="carousel-item" href="#one!">
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content black-text">
            <span class="card-title">{{ project.name }}</span>
            <p>Year: {{ project.year }}</p>
            <p>{{ project.description }}</p>

          </div>
          <div class="card-action">
            <button onclick="window.open('{{ project.url }}')" class="btn waves-effect red">View Project</button>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endif %}
<div class="center-align">
  <a class="waves-effect waves-light red btn-large mb-20" href="{{ url_for('projects') }}"><i
      class="material-icons left">assignment_turned_in</i>Manage Projects</a>
</div>

{% endblock content %}