<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/masterprofile_white.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>How it works - MasterProfile</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/Highlight-Phone.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top"><img style="width: 70px;" src="static/assets/img/masterprofile_white.png"></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">Process</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul><a href="#"></a></div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url(&quot;https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1489&amp;q=80&quot;);">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span></span></div>
                <div class="intro-heading text-uppercase"><span>revolutionizing Portfolios</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="/register">Go to App</a></div>
        </div>
    </header>
    <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>What We Do</h2>
                        <p>- Enabling employee portfolio standardization<br>- Creating opportunities for portfolio automation and analysis<br>- Data-driven hiring<br>- Enabling new business models and opportunities that emerge with standardization</p>
                        <a
                            class="btn btn-primary" role="button" href="/register">Go to App Now</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block iphone-mockup"><img class="device" src="static/assets/img/iphone.svg">
                        <div class="screen" style="background-image: url(&quot;static/assets/img/Screen%20Shot%202020-07-12%20at%204.55.33%20PM.png&quot;);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Services</h2>
                    <h3 class="text-muted section-subheading">What do you get?</h3>
                </div>
            </div>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;">
                <div class="col-md-4" style="margin-left: auto;"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-key fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Token</h4>
                    <p class="text-muted">Once users add their portfolio and information, employers can receive information about potential employees through our API using the user's token.</p>
                </div>
                <div class="col-md-4" style="margin-right: auto;"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Website</h4>
                    <p class="text-muted">A free website is auto-generated for you, complete with your portfolio information, such as your biography, skills, jobs, and more!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">Process</h2>
                    <h3 class="text-muted section-subheading">How does it work?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/user_img.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Users</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All you have to do is add your complete portfolio. Add information about yourself, your jobs, projects, achievements, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/3.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once you input information about yourself, we create a completely free and auto-generated website for you, complete with your portfolio.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/handshake.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Employer Access</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Users are also given a secure token. With the token, employers can access data about potential employees through our API.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/opportunity.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Endless Opportunities</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are creating a standard, so it is easier for employers to get data. No more reading long resumes by hand. You can now easily automate the profile analysis and hiring process.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <h4>Sign up now and add your portfolio!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image:url('static/assets/img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" novalidate="novalidate" data-bss-recipient="28dc2b179060daa97848a6fab8c8c785" data-bss-subject="Virtual Portfolio Form">
                        <div class="form-row">
                            <div class="col col-md-6">
                                <div class="form-group"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group"><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col">
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© MasterProfile 2018</span></div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/smart-forms.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/assets/js/agency.js"></script>
</body>

</html>