{% extends "layout.html" %}

{% block navbar %}

<ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ url_for('jobs') }}">Jobs</a></li>
    <li><a href="{{ url_for('achievements') }}">Achievements</a></li>
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
  </ul>

<div class="navbar-fixed">

    <nav class="red">
        <div class="nav-wrapper">
            <!--<a style="margin-left: 20px;" href="{{ url_for('home') }}" class="brand-logo">Logo</a>-->
            <a class="brand-logo ml-20" href="{{ url_for('home') }}"><img class="image-logo"
                    src="{{ url_for('static', filename='images/logo_name.png') }}"></a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Manage<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ url_for('static_site', username=current_user.username) }}">Preview Site</a></li>
                <li><a href="{{ url_for('customization') }}">Customization</a></li>
                <li><a href="{{ url_for('how_it_works') }}">How it works</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="btn red waves-effect" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul id="dropdown-m" class="dropdown-content">
    <li><a href="{{ url_for('jobs') }}">Jobs</a></li>
    <li><a href="{{ url_for('achievements') }}">Achievements</a></li>
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
  </ul>

<ul class="sidenav" id="mobile-demo">
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown-m">Manage<i class="material-icons right">arrow_drop_down</i></a></li>

    <li><a href="{{ url_for('static_site', username=current_user.username) }}">Preview Site</a></li>
    <li><a href="{{ url_for('customization') }}">Customization</a></li>
    <li><a href="{{ url_for('how_it_works') }}">How it works</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Log In</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
</ul>
{% endblock %}