{% extends "layout_no_container.html" %}

{% block navbar %}

<div class="navbar-fixed">
    <nav style="background-color: {{ current_user.theme_color }};">
        <div class="nav-wrapper">
            <a class="brand-logo ml-20" href="{{ url_for('home') }}"><img class="image-logo"
                    src="{{ url_for('static', filename='assets/img/masterprofile_white.png') }}"></a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user_visiting.is_authenticated %}
                <li><a class="btn" style="color: {{ current_user.text_color }}; background-color: {{ current_user.theme_color }};" href="{{ url_for('home') }}">Manage Your Site</a></li>
                {% endif %}
                <li><a style="color: {{ current_user.text_color }};" href="#">Home</a></li>
                <li><a style="color: {{ current_user.text_color }};" href="#jobs">Jobs</a></li>
                <li><a style="color: {{ current_user.text_color }};" href="#achievements">Achievements</a></li>
                <li><a style="color: {{ current_user.text_color }};" href="#projects">Projects</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    {% if user_visiting.is_authenticated %}
    <li><a class="btn" style="color: {{ current_user.text_color }}; background-color: {{ current_user.theme_color }};" href="{{ url_for('home') }}">Manage Your Site</a></li>
    {% endif %}
    <li><a href="#">Home</a></li>
    <li><a href="#jobs">Jobs</a></li>
    <li><a href="#achievements">Achievements</a></li>
    <li><a href="#projects">Projects</a></li>
</ul>


<div class="section grey lighten-2" id="biography">
    <div class="row container">
        <h1>{{ current_user.name }}</h1>
        <div class="row">
            <div class="col s12">
                <div style="background-color: {{ current_user.theme_color }};" class="card-panel lighten-1 pt-2">
                    <h3 style="color: {{ current_user.text_color }};">Profile</h3>
                    <div class="mb-20">
                        {% if current_user.skills %}
                        <h5 style="color: {{ current_user.text_color }};">Skills</h5>
                        {% for skill in current_user.skills.split(',') %}
                        <div class="chip"> {{ skill }} </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <h5 style="color: {{ current_user.text_color }};">Biography</h5>
                    {% if current_user.bio %}
                    <span style="color: {{ current_user.text_color }};" class="mt-20">{{ current_user.bio }}</span>
                    {% else %}
                    <span style="color: {{ current_user.text_color }};" class="mt-20">This user has not added a bio yet.</span>
                    {% endif %}
                    <h5 style="color: {{ current_user.text_color }}">Resume</h5>
                    {% if current_user.resume %}
                    <iframe id="pdfviewer" src="https://res.cloudinary.com/{{ cloud_name }}/image/upload/portfolio/resume/{{ current_user.resume }}.pdf#toolbar=0">Click to view resume</iframe>
                    {% else %}
                    <span style="color: {{ current_user.text_color }};" class="mt-20">This user has not added a resume yet.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% if current_user.jobs %}

<div class="parallax-container">
    <div class="parallax">
        <img
            src="https://res.cloudinary.com/dnwczwamg/image/upload/portfolio/image/upload/{{ current_user.background1 }}">
    </div>
</div>

<div id="jobs" class="section grey lighten-2">
    <div class="row container">
        <h1>Recent Jobs</h1>
        <div class="carousel">
            {% for job in current_user.jobs[:3] %}
            <a class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div style="background-color: {{ current_user.theme_color }};" class="card lighten-1">
                            <div style="color: {{ current_user.text_color }};" class="card-content">
                                <span class="card-title">{{ job.company_name }}</span>
                                <p>Role: {{ job.role }}</p>
                                <p>Start Date: {{ job.start_date.strftime('%d %b, %Y') }}</p>
                                {% if job.end_date != None %}
                                <p>End Date: {{ job.end_date.strftime('%d %b, %Y') }}</p>
                                {% else %}
                                <p>End Date: {{ job.end_date }}</p>
                                {% endif %}
                                <p>Description: {{ job.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="center-align">
            <a style="background-color: {{ current_user.theme_color }}; color: {{ current_user.text_color }};" class="waves-effect waves-light btn-large" href="{{ url_for('staticjobs', username=current_user.username) }}"><i
                    class="material-icons left">business</i>View all Jobs</a>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}

{% if current_user.achievements %}

<div class="parallax-container">
    <div class="parallax"><img
            src="https://res.cloudinary.com/dnwczwamg/image/upload/portfolio/image/upload/{{ current_user.background2 }}">
    </div>
</div>


<div id="achievements" class="section grey lighten-2">
    <div class="row container">

        <h1>Recent Achievements</h1>
        <div class="carousel">
            {% for achievement in current_user.achievements[0:3]%}
            <a class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div style="background-color: {{ current_user.theme_color }};" class="card lighten-1">
                            <div style="color: {{ current_user.text_color }};" class="card-content">
                                <span class="card-title">{{ achievement.name }}</span>
                                <p>Year: {{ achievement.year }}</p>
                                <p>Description: {{ achievement.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="center-align">
            <a style="background-color: {{ current_user.theme_color }}; color: {{ current_user.text_color }};" class="waves-effect waves-light btn-large" href="{{ url_for('staticachievements', username=current_user.username) }}"><i
                    class="material-icons left">assistant_photo</i>View all Achievements</a>
        </div>
    </div>
</div>

{% endif %}

{% if current_user.projects %}

<div class="parallax-container">
    <div class="parallax"><img
            src="https://res.cloudinary.com/dnwczwamg/image/upload/portfolio/image/upload/{{ current_user.background3 }}">
    </div>
</div>


<div id="projects" class="section grey lighten-2">
    <div class="row container">
        <h1>Recent Projects</h1>
        <div class="carousel">
            {% for project in current_user.projects[0:3]%}
            <a class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div style="background-color: {{ current_user.theme_color }};" class="card lighten-1">
                            <div style="color: {{ current_user.text_color }};" class="card-content">
                                <span class="card-title">{{ project.name }}</span>
                                <p>Year: {{ project.year }}</p>
                                <p>{{ project.description }}</p>
                            </div>
                            <div class="card-action">
                                <button style="background-color: {{ current_user.theme_color }}; color: {{ current_user.text_color }};" onclick="window.open('{{ project.url }}')" class="btn waves-effect">View
                                    Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="center-align">
            <a style="background-color: {{ current_user.theme_color }}; color: {{ current_user.text_color }};" class="waves-effect waves-light btn-large" href="{{ url_for('staticprojects', username=current_user.username) }}"><i
                    class="material-icons left">assistant_photo</i>View all Projects</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}