{% extends "layout_no_container.html" %}

{% block navbar %}

<div class="navbar-fixed">
  <nav style="background-color: {{ current_user.theme_color }};">
    <div class="nav-wrapper">
      <a class="brand-logo ml-20" href="{{ url_for('home') }}"><img class="image-logo"
          src="{{ url_for('static', filename='images/logo_name.png') }}"></a>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a style="color: {{ current_user.text_color }};" href="{{ url_for('static_site', username=current_user.username) }}">Home</a></li>
        <li><a style="color: {{ current_user.text_color }};" href="{{ url_for('staticjobs', username=current_user.username) }}">Jobs</a></li>
        <li><a style="color: {{ current_user.text_color }};" href="{{ url_for('staticachievements', username=current_user.username) }}">Achievements</a></li>
        <li><a style="color: {{ current_user.text_color }};" href="{{ url_for('staticprojects', username=current_user.username) }}">Projects</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="container">
  <h1>Projects</h1>

  {% for project in projects %}

  <div class="row">
    <div class="col s12">
      <div style="background-color: {{ current_user.theme_color }};" class="card lighten-1">
        <div style="color: {{ current_user.text_color }};" class="card-content">
          <span class="card-title">{{ project.name }}</span>
          <p>Description: {{ project.description }}</p>
          <p>Year: {{ project.year }}</p>
        </div>
        <div class="card-action">
          <button style="background-color: {{ current_user.theme_color }}; color: {{ current_user.text_color }};" onclick="window.open('{{ project.url }}')" class="btn waves-effect">View Project</button>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  {% endblock %}