{% extends "layout_no_container.html" %}

{% block navbar %}

<div class="navbar-fixed">
    <nav class="red">
        <div class="nav-wrapper">
            <a style="margin-left: 20px;" class="brand-logo" href="{{ url_for('home') }}"><img class="image-logo"
                    src="{{ url_for('static', filename='images/logo_name.png') }}"></a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('staticjobs') }}">Jobs</a></li>
                <li><a href="{{ url_for('staticachievements') }}">Achievements</a></li>
                <li><a href="{{ url_for('staticprojects') }}">Projects</a></li>
            </ul>
        </div>
    </nav>
</div>



<div class="section grey lighten-2">
    <div class="row container">
        <h1>Pranav Rao</h1>
        <h5>Professional Greatness</h5>

        <div class="row">
            <div class="col s12">
                <div class="card-panel red lighten-1" style="padding-top: 2px;">
                    <h3 class="white-text">Biography</h3>
                    <span class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took
                        a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised
                        in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img
            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80">
    </div>
</div>

<div class="section grey lighten-2">
    <div class="row container">
        <h1>Recent Jobs</h1>
        <div class="carousel">
            <a class="carousel-item" href="#one!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Job))</span>
                                <p>Role: ((date thing))</p>
                                <p>Start Date: ((date thing))</p>
                                <p>End Date: ((date thing))</p>
                                <p>Description: ((date thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#two!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Job))</span>
                                <p>Role: ((date thing))</p>
                                <p>Start Date: ((date thing))</p>
                                <p>End Date: ((date thing))</p>
                                <p>Description: ((date thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#three!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Job))</span>
                                <p>Role: ((date thing))</p>
                                <p>Start Date: ((date thing))</p>
                                <p>End Date: ((date thing))</p>
                                <p>Description: ((date thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light red btn-large" href="{{ url_for('staticjobs') }}"><i
                    class="material-icons left">business</i>View all Jobs</a>
        </div>
    </div>
</div>
</div>
</div>

<div class="parallax-container">
    <div class="parallax"><img
            src="https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
    </div>
</div>

<div class="section grey lighten-2">
    <div class="row container">

        <h1>Recent Achievements</h1>
        <div class="carousel">
            <a class="carousel-item" href="#one!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Acheivement Name))</span>
                                <p>Year: ((date thing))</p>
                                <p>Description: ((description))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#two!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Acheivement Name))</span>
                                <p>Year: ((date thing))</p>
                                <p>Description: ((description))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#three!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Acheivement Name))</span>
                                <p>Year: ((date thing))</p>
                                <p>Description: ((description))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light red btn-large" href="{{ url_for('achievements') }}"><i
                    class="material-icons left">assistant_photo</i>View all Achievements</a>
        </div>
        
    </div>
</div>
</div>

<div class="parallax-container">
    <div class="parallax"><img
            src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
</div>

<div class="section grey lighten-2">
    <div class="row container">
        <h1> Recent Projects</h1>
        <div class="carousel">
            <a class="carousel-item" href="#one!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Project Name))</span>
                                <p>Description: ((description))</p>
                                <p>Year: ((date thing))</p>
                                <p>Url: ((url thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#two!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Project Name))</span>
                                <p>Description: ((description))</p>
                                <p>Year: ((date thing))</p>
                                <p>Url: ((url thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="carousel-item" href="#three!">
                <div class="row">
                    <div class="col s12">
                        <div class="card red lighten-1">
                            <div class="card-content white-text">
                                <span class="card-title">((Project Name))</span>
                                <p>Description: ((description))</p>
                                <p>Year: ((date thing))</p>
                                <p>Url: ((url thing))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light red btn-large" href="{{ url_for('projects') }}"><i
                    class="material-icons left">assignment_turned_in</i>View All Projects</a>
        </div>
    </div>
</div>
</div>
{% endblock %}