{% extends "layout_no_container.html" %}

{% block navbar %}

<div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content black-text">
          <span class="card-title">((Project Name))</span>
          <p>Description: ((description))</p>
          <p>Year: ((date thing))</p>
          <p>Url: ((url thing))</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content black-text">
          <span class="card-title">((Project Name))</span>
          <p>Description: ((description))</p>
          <p>Year: ((date thing))</p>
          <p>Url: ((url thing))</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content black-text">
          <span class="card-title">((Project Name))</span>
          <p>Description: ((description))</p>
          <p>Year: ((date thing))</p>
          <p>Url: ((url thing))</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content black-text">
          <span class="card-title">((Project Name))</span>
          <p>Description: ((description))</p>
          <p>Year: ((date thing))</p>
          <p>Url: ((url thing))</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card red">
        <div class="card-content black-text">
          <span class="card-title">((Project Name))</span>
          <p>Description: ((description))</p>
          <p>Year: ((date thing))</p>
          <p>Url: ((url thing))</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}